#home-message {
	float: left;
	display: inline-block;
	margin-left: 22px
}

#home-message > p:first-child {
	margin-top: -2px
}

#home-message > p:not(:first-child) {
	margin-left: 10px
}

#home-menu {
	padding-left: 10px
}

#home-menu > div {
	padding-left: 14px
}

#home-menu .home-menu-group-parent {
	margin-bottom: 12px;
	font-family: 'Roboto Condensed', Abel, sans-serif
}

#home-menu > div > a {
	text-decoration: none;
	color: #aaa
}

#home-menu > div.sidebar-nav-group {
	padding-left: 28px
}
