<div id='nav-menu'>
	<div class='nav-menu_container'>
		<div class='sidebar-nav-li sidebar-sub'>
			<div class='sidebar-nav-group'>
				<div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='root' data-title=''>
					<a href='/'>/</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='world' data-title='World'><a href='/world'>
					World</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='computer' data-title='Computer'><a href='/computer'>
					Computer</a>
				</div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div>
			</div>
			<div class='sidebar-nav-group'>
				<div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='about' data-title='About'>
					<a href='/about'>About</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='faq' data-title='FAQ'>
					<a href='/faq'>FAQ</a>
				</div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div>
			</div>
			<div class='sidebar-nav-group'>
				<div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='feedback' data-title='Feedback'>
					<a href='/feedback'>Feedback</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='license' data-title='License'>
					<a href='/license'>License</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='logo' data-title='Logo'>
					<a href='/logo'>Logo</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='roadmap' data-title='Roadmap'>
					<a href='/roadmap'>Roadmap</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='changelog' data-title='Changelog'>
					<a href='/changelog'>Changelog</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='timeline' data-title='Timeline'>
					<a href='/timeline'>Timeline</a>
				</div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div><div class='sidebar-nav-norm placeholder-empty'></div>
			</div>
			<div class='sidebar-nav-group'>
				<div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='about_site' data-title='About site'>
					<a href='/about_site'>About site</a>
				</div><div class='XURL sidebar-nav-norm sidebar-nav-l-1' data-target='about_me' data-title='About me'>
					<a href='/about_me'>About me</a>
				</div><div class='sidebar-nav-norm placeholder-empty'></div><div class='XURL sidebar-nav-norm placeholder-empty'></div><div class='XURL sidebar-nav-norm placeholder-empty'></div>
			</div>
		</div>
	</div>
</div>
