* {
	font-family : Arial, Verdana, sans-serif;
}

html {
	height : 100%;
}

body {
	margin : 0 auto;
}

h1 {
	font-weight : normal;
	font-size : 14px;
	margin : 0;
}

strong {
	color : #69b7cf !important;
}

img {
	max-width : 100%;
}

#main-wrapper {
	margin : 0 auto;
	padding : 0 20px;
	height : 100%;
	background : #FFF;
	max-width: 1440px;
}

#location {
	position : absolute;
}

#header-wrapper {
	height : 134px;
	top : 0;
	left : 24px;
	right : 24px;
	margin-left : auto;
	margin-right : auto;
	max-width : 1240px;
}

#header-wrapper-divider {
	border-bottom : 1px solid #DDD;
	margin-left : auto;
	margin-right : auto;
}

#wrapper-divider {
	border-bottom : 1px solid #DDD;
	margin-left : auto;
	margin-right : auto;
	margin-top : 20px;
}

#header-logo {
	width : 50%;
	float : right;
	margin-top : 32px;
}

#header-logo a {
	text-decoration : none;
	border : none;
}

#header-logo > a > img {
	text-decoration : none;
	border : none;
	height : 50px;
}

#header-slogan {
	width : 50%;
	float : left;
	margin-top : 49px;
	text-align : right;
	font-size : 18px;
	color : #555;
	font-family : consolas;
	text-shadow : 0 1px 1px rgba(0,0,0,0.1)
}

#header-slogan-text {
	padding-right : 6px;
	color : #69b7cf !important;
}

#header-slogan-href {
	text-decoration : none;
}

#header-example {
	position : absolute;
	right : 5px;
	top : 37px
}

#header-ex-num {
	font-size : 21px;
	padding-top : 2px;
}

#header-ex-eq {
	color : #AAA;
}

#live {
	color : #F00;
	line-height : 4px;
}

#fund-site {
	color : rgb(48, 165, 243);
}

#loading {
	padding-top : 13px;
	display : inline-block;
	font-size : 12px;
	color : #AAA !important;
	background : yellow;
	padding : 10px;
	border-radius : 22px;
	visibility : hidden;
}

.buttons { }

#updated {
	padding-right : 10px;
	padding-bottom : 10px;
	font-size : 12px;
	color : #CCC !important;
	text-align : right;
}

#date {
	color : #cccccc !important;
}

#content-wrapper * {
	font-family : abel;
	transition : all ease-out 0.3s;
}

#main-wrapper * {/* transition: all ease-out 0.3s; */}

#canvas-wrapper-inner-container {
	max-width : 1868px;
	width : 200%;
	transition : all 2s;
}

#content-separator {
	position : absolute;
	margin-left : 145px;
	top : 8px;
	bottom : 8px;
	border-left : 1px dotted #DDD;
}

#canvas-wrapper {
	padding : 0px 0px 0px 0px;
	overflow : hidden;
	transition : all 2s;
}

#canvas-main {
	overflow : hidden;
	width : 50%;
	display : inline-block;
	transform : translate(-100%,0);
	transition : all 1s;
	max-height: 9999px;
}

#canvas-footer {
	background : #FFF;
	padding-top : 1px;
}

#wrapper {
		margin : 0 auto;
		max-width : 932px;
		-moz-transition : all 0.7s;
		-ms-transition : all 0.7s;
		-o-transition : all 0.7s;
		transition: all 0.7s;
		padding-bottom : 192px;
}

#nav-list {
	padding : 26px 0 36px 0;
	max-width : 512px;
}

#nav-list > a > div {
	display : inline-block;
}

#footer-wrapper-divider {
	border-bottom : 1px solid #DDD;
	margin-left : 25%;
	margin-right : 25%;
}

#footer-wrapper {
	text-align : center;
	font-size : 12px;
	margin-left : auto;
	margin-right : auto;
	margin-top : -215px;
	position : relative;
}

#footer-wrapper-inside {
	padding : 6px 0 20px 0;
	font-size : 12px;
	color : #444;
}

.footer-content {
	text-align: center;
	color: #cccccc;
}

#footer-support {
	padding-top: 22px;
}

#footer-rights {
	margin-bottom: 14px;
}

#paypal-btn {
	display : inline;
	position : absolute;
	bottom :-20px;
	right : 2px;
	z-index : 1;
}

.shadow-scroll-top {
	height : 4px;
	-webkit-mask-box-image :	-webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%);
	background-color : transparent;
	background-image : -webkit-linear-gradient(top,rgba(0,0,0,.2),transparent);
}

.shadow-scroll-bottom {
	height: 4px;
	-webkit-mask-box-image : -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%);
	background-color : transparent;
	background-image : -webkit-linear-gradient(bottom,rgba(0,0,0,.2),transparent);
	margin-left : 20%;
	margin-right : 20%;
}

.XURL {
	cursor : pointer;
	text-decoration : none;
}

.XURL_ {
	cursor : pointer;
	text-decoration : none;
	background : #69B7CF;
	color : white !important;
}

.XURL_ div {
	margin-left : 28px;
	font-size : 15px;
	vertical-align : middle;
	cursor : pointer;
	color : white !important;
}

.XURL_:hover {
	cursor : pointer;
	background : white;
	border-color : #ddd;
}

.XURL_:hover div {
	color : #69B7CF !important;
}

.twitter-timeline-rendered {
	width : 652px;
	padding : 0px 10px 0px 0px;
}

h3 {
	color : #69B7CF !important;
}

.bullet {
	padding: 0 5px;
	color: rgb(200, 200, 200) !important;
}

#header-right-list {
	text-align : center;
	margin : auto;
	padding : 0 6px 0 0;
	overflow : hidden;
	display : inline-block;
	float : right;
}

#social-links {
	padding-bottom : 4px;
}

#menu-button {
	margin : 8px 0 0 82px;
	display : inline-block;
	float : left;
	background-size : contain;
	width : 36px;
	height : 36px;
	background-repeat : no-repeat;
}

#menu-button:hover path {
	fill : #56B4D1;
}

#menu-button:hover {
	cursor : pointer;
}

#menu-button.no-svg {
	background-image : url('/resource/menu_icon_grey.png');
}

#menu-button.no-svg:hover {
	background-image : url('/resource/menu_icon.png');
}

#menu-button.no-svg.active {
	background-image : url('/resource/menu_icon.png');
}

#menu-button.active path {
	fill : #56B4D1;
}

#menu-button.active.no-svg:hover {
	background-image : url('/resource/menu_icon.png');
}

#content-wrapper {
	min-height : 100%;
	overflow : auto;
}

#header-slogan {
}

#header-title {
	overflow : hidden;
	padding-top : 2px; /* for the shadow lines*/
	margin-bottom : -4px;
}

details div {
	color : aqua;
}

summary::-webkit-details-marker {
	color : #ddd;
}

.social > a > img {
	width : 40px;
	height : 40px;
}

.placeholder-empty {
	height : 0 !important;
	border-style : none !important;
	margin : 0 5px !important;
	visibility : hidden;
}

#wordlist-table span {
	width : 140px;
	display : inline-block;
}

.social > a > span {
	background-size : contain;
	width : 34px;
	height : 34px;
	display : block;
	background-repeat : no-repeat;
	transition : all ease-out 0.3s;
}

.social > a > span * {
	transition : all ease-out 0.3s
}

#twitter > span.no-svg {
	background-image : url('/resource/twitter_grey.png');
}

#twitter > span.no-svg:hover {
	background-image : url('/resource/twitter.png');
}

#facebook > span.no-svg {
	background-image : url('/resource/facebook_grey.png');
}

#facebook > span.no-svg:hover {
	background-image : url('/resource/facebook.png');
}

#google > span.no-svg {
	background-image : url('/resource/google+_grey.png');
}

#google > span.no-svg:hover {
	background-image : url('/resource/google+.png');
}

.download > a > span.no-svg {
	background-size : contain;
	width : 33px;
	height : 33px;
	display : block;
	background-repeat : no-repeat;
}

#download-android > a > span.no-svg {
	background-image : url('/resource/google_play_grey.png');
}

#download-android > a > span.no-svg:hover {
	background-image : url('/resource/google_play.png');
}

#download-windows > a > span.no-svg {
	background-image : url('/resource/windows_grey.png');
}

#download-windows > a > span.no-svg:hover {
	background-image : url('/resource/windows.png');
}

div#path {
	padding-top : 6px;
	padding-left : 6px;
	color : #69b7cf;
	transition : all ease-out 0s;
}

#path a {
  color : #69b7cf;
}

div#title {
	text-align : center;
	color : #D9D9D9;
	font-weight : bold;
	font-size : x-large;
	transition : all ease-out 0s;
	margin-top : -10px;
	padding-bottom : 20px;
}

#title a {
  color : #69b7cf;
}

.path-separator {
	color : #CFCFCF !important;
}

#content-body-separator {
	border-top : #e2dcdc 1px solid;
	height : 1px;
	margin-top : 6px;
	width : 75px;
}

img#lg_wcode {
	height : 40px;
}

.center {
	margin : auto;
	text-align : center;
}

#header-bar {
	margin-top : -10px;
	text-align : center;
}

span.header-logo {
	width : 153px;
	display : inline-block;
}

span#bar-code {
	display : inline-block;
	width : 147px;
}

span#qr-code {
	display : inline-block;
	width : 147px;
}

#download-windows:hover path {
	fill : #56B4D1;
}

#download-android:hover path {
	fill : #56B4D1;
}

#twitter:hover path {
	fill : #56B4D1;
}

#facebook:hover path {
	fill : #56B4D1;
}

#google:hover span > svg > path {
	fill : #56B4D1;
}

span#header-logo-image {
	height : 50px;
	width : 144px;
	background-size : contain;
}

span#download_button {
	margin : 0;
	float : right;
	text-align : right;
}

#download_button > a > span {
	height : 34px;
	width : 34px;
	display : block;
}

#download_button:hover path:first-child {
	fill : #56B4D1;
}

#download_button:hover svg > path:last-child {
	stroke : #56B4D1;
}

span#download_button_bottom svg {
	padding-bottom : 8px;
}

#download_button_bottom > a > span {
	height : 36px;
	width : 36px;
	display : inline-block;
		padding : 4px 12px;
}

#download_button_bottom:hover svg > path:first-child {
	fill : #56B4D1;
}

#download_button_bottom:hover svg > path:last-child {
	stroke : #56B4D1;
}

.comics-column img {
	margin : 14px;
}

.coming-soon span {
	display : block;
	color : #888 !important;
}

span.download-android {
	width : 136px;
}

.download-content-list-2 {
	padding-left : 28px !important;
}

div#wcode-remember {
	margin : -8px 0 0 4px;
}

.XURL_disabled {
  border : #efefef 1px solid !important;
	background-color : #FFFFFF !important;
}

.XURL_disabled div {
  margin : 16px 28px;
  font-size : 15px;
  color : #dedede !important;
  vertical-align : middle;
}

.XURL font {
	transition : none !important;
}

#sub-list {
	margin : 28px 0;
}
#fb_components {
	margin-left : 20px;
}

#fb_components .fb-like {
	padding-left : 10px;
	padding-top : 10px;
	vertical-align : top;
}

#fb_components .fb_comments {
	padding-left : 10px;
}

#nav-menu-up.center-arrow div{
	margin : auto;
}
