DirectoryIndex Framework/Page.php

ErrorDocument 404 "Error: 404. Page Not Found! :("

RewriteBase /
RewriteEngine On
DirectorySlash Off

RewriteRule ^(.+)/$ $1 [R=301]

RewriteRule ^computer/os$ https://drive.google.com/folderview?id=0B0pxLafSqCjKQ0tXc281bnJoaTQ [R=303,L]
RewriteRule ^computer/program$ https://drive.google.com/folderview?id=0B0pxLafSqCjKZkdRZk5ac2p4Zlk [R=303,L]
RewriteRule ^computer/programming$ https://drive.google.com/folderview?id=0B0pxLafSqCjKT244VW92b1pGVnM [R=303,L]

RewriteRule ^computer/dos$ https://drive.google.com/drive/folders/0B0pxLafSqCjKQ0tXc281bnJoaTQ [R=303,L]
RewriteRule ^computer/dprogram$ https://drive.google.com/drive/folders/0B0pxLafSqCjKZkdRZk5ac2p4Zlk [R=303,L]
RewriteRule ^computer/dprogramming$ https://drive.google.com/drive/folders/0B0pxLafSqCjKT244VW92b1pGVnM [R=303,L]

RewriteRule ^style.css$ Framework/Style.php [L]
RewriteRule ^script.js$ Framework/Script.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.ico$ Resource/$1.ico [L]

RewriteCond %{DOCUMENT_ROOT}/Resource/$1 -d
RewriteRule ^(.*?)\.jpg$ Resource/$1/root.jpg [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.jpg$ Resource/$1.jpg [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.png$ Resource/$1.png [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.svg$ Resource/$1.svg [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)\.json$ Framework/Component.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ Framework/Page.php [L]
