DefaultType text/html
DirectoryIndex root

RewriteBase /
RewriteEngine On
DirectorySlash Off

RewriteCond %{HTTP_HOST} !^ujnotes\.com [NC]
RewriteRule ^/?(.*)$ http://ujnotes.com/$1 [L,R=301]

RewriteRule ^(.+)/$ $1 [R=301]

RewriteRule ^favebook$ https://facebook.com/ujnotes [R=303,L]
RewriteRule ^twitter$ https://twitter.com/ujnotesx [R=303,L]
RewriteRule ^gplus$ https://plus.google.com/+ujnotesx [R=303,L]
RewriteRule ^patreon$ https://patreon.com/ujnotes [R=303,L]

RewriteRule ^computer/os$ https://drive.google.com/folderview?id=0B0pxLafSqCjKQ0tXc281bnJoaTQ [R=303,L]
RewriteRule ^computer/program$ https://drive.google.com/folderview?id=0B0pxLafSqCjKZkdRZk5ac2p4Zlk [R=303,L]
RewriteRule ^computer/programming$ https://drive.google.com/folderview?id=0B0pxLafSqCjKT244VW92b1pGVnM [R=303,L]

RewriteRule ^computer/dos$ https://drive.google.com/drive/folders/0B0pxLafSqCjKQ0tXc281bnJoaTQ [R=303,L]
RewriteRule ^computer/dprogram$ https://drive.google.com/drive/folders/0B0pxLafSqCjKZkdRZk5ac2p4Zlk [R=303,L]
RewriteRule ^computer/dprogramming$ https://drive.google.com/drive/folders/0B0pxLafSqCjKT244VW92b1pGVnM [R=303,L]

rewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.+)$ $1/root

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)\.json$ $1/root.json [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)\.jpg$ $1/root.jpg [L]

ExpiresActive on
ExpiresDefault "access plus 2 hours"
