<div class="content">
	<div class='message'>select one:</div>
	<div class="center">
		<div class="sidebar-nav-group">
			<a class="XURL_ sidebar-nav-norm sidebar-nav-l-1" id="os" href="/os" target="_blank" onclick='trackOutboundLink("OS","https://drive.google.com/folderview?id=0B0pxLafSqCjKQ0tXc281bnJoaTQ"); return false;'>
				<span>OS</span>
			</a><a class="XURL_ sidebar-nav-norm sidebar-nav-l-1" id="program" href="/program" target="_blank" onclick='trackOutboundLink("Program","https://drive.google.com/folderview?id=0B0pxLafSqCjKZkdRZk5ac2p4Zlk"); return false;'>
				<span>Program</span>
			</a><a class="XURL_ sidebar-nav-norm sidebar-nav-l-1" id="programming" href="/programming" target="_blank" onclick='trackOutboundLink("Programming","https://drive.google.com/folderview?id=0B0pxLafSqCjKT244VW92b1pGVnM"); return false;'>
				<span>Programming</span>
			</a>
		</div>
	</div>
</div>
